@import 'variables';

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.8rem 1.4rem;
  color: white;
  border: none;
  border-radius: 10px;
  background: $color-green;
  &:disabled:not(.btn--loading) {
    background: $color-dark-grey;
  }
  &--reset {
    padding: 0;
    background: transparent;
    margin: 0;
    border: none;
  }
  &--loading {
    .btn__content {
      visibility: hidden;
    }
  }
  &__spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    margin: auto;
    height: 30px;
  }
  &__icon {
    i {
      font-size: 1rem;
    }
  }
}