@import 'variables';
* {
  box-sizing: border-box;
}
#app {
  overflow: hidden;
}
body {
  margin: 0;
  background: $color-light-blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.layout {
  height: 100vh;
  padding: 1rem;
  margin: 0 -1rem;
}

aside, main {
  padding: 0 1rem;
  display: flex;
}

main {
  flex: 1 0 auto;
}

aside {
  width: 500px;
}

.list {
  &--reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}