@import 'variables';

.input {
  &--reset {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
  }
}

@mixin input-styling {
  border: none;
  background: $color-grey;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

input, textarea {
  @include input-styling;
}

.form {
  &__field {
    margin-bottom: 1rem;
    label {
      display: block;
      margin-bottom: 0.2rem;
    }
  }
}