@import 'variables';

.table {
  width: 100%;
  border-spacing: unset;
  &--loading {
    filter: blur(3px);
    opacity: 0.5;
  }
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 1;
  }
  thead {

  }
  th, td {
    padding: 0.4rem 0.2rem;
  }
  th {
    text-align: left;
    border-bottom: 1px solid $color-grey;
  }
  td {
    font-size: 14px;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: $color-lighter-blue;
      }
    }
  }
}