@import 'variables';
@import 'form';

.tags {
  position: relative;
  @include input-styling;
  &__list {
    display: flex;
    flex-wrap: wrap;
    &-item, &-input {
      margin: 0.2rem 0.4rem;
    }
    &-item {
      background: $color-orange;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      color: white;
      display: flex;
      align-items: center;
      .btn__icon {
        margin-left: 0.2rem;
        color: white;
      }
    }
    &-input {
      display: flex;
    }
  }
  &__dropdown {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid $color-grey;
    background: white;
    margin-top: 0;
    &-item {
      height: 32px;
    }
    button {
      height: 100%;
      width: 100%;
      padding: 0.4rem;
    }
  }
}