// Colours

$color-off-white: #fff;
$color-light-blue: #f1f4ff;

// Dark theme

$dark-blue: #171C30;
$light-blue: #262D47;
$color-lighter-blue: #f7f9ff;

$color-grey: #f3f3f3;
$color-dark-grey: #bdbdbd;
$color-green: #03cc00;
$color-orange: #ec7c3a;